.race-table tbody tr:hover{
    cursor: pointer;
}
.race-table tbody tr:hover{
    background-color: blanchedalmond;
}
.race-table tbody tr:before {
    position: absolute;
    left: 10px;
    padding-top: 8px;
    font-weight: 900;
    color: #0073aa;
}
.race-table.widefat th {
    text-align: center;
}
.race-table tbody tr.regular:before {
    content: "R";
    padding-top: 8px;
    font-weight: 900;
}
.race-table tbody tr.pro:before {
    content: "P";
    padding-top: 8px;
    font-weight: 900;
    color: red;
}
.race-table tbody td {
    white-space: inherit;
}
.print {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.72);
    left: -20px;
    width: calc(100% + 20px);
    height: 100%;
    z-index: 100;
}
.print>div{
    background-color: #FFF;
    top: 0;
    /*left: -62px;*/
    padding: 30px;
    margin: auto;
    display: table;
}
.print .content{
    margin: auto;
    display: table;
}
.print .btn{
    padding: 10px 20px;
    border-radius: 10px;
    color: #FFF;
    text-decoration: blink;
    font-weight: 600;
    background-color: #ca4a1f;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.print .close_btn{
     background-color: darkred;
}

.print tbody > tr{
    margin-top: -70px;
}

.print .form-body{
     position: relative;
 }

@media screen and (max-width: 500px){
    .race-table .ip{
        display: none;
    }
}

